.navbar {
  background-color: #1255e4ce;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  margin-left:20% ;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  font-size: 18px;
  color: white;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: #ddd;
  color: #333;
}

.navbar ul li .active {
  background-color: #575757;
  color: #fff;
  pointer-events: none;
}
